#content_f1{
	background-color:#F3F3F3;
	width: 1200px;
	margin: 0px auto;
}
#tit{
	height: 25px;
	padding-top: 8px;
}
#tit p{
	font-size: 18px;
}
.intro{
	padding-top: 18px;
}
.image{
	align-content: center;
	float: left;
}
.image img{
	width: 550px;
	height: 500px;
}
.info {
	width: 400px;
	padding-left: 50px;
	float: left;
}
.info label{
	color: #9B9B9B;
	font-size: 16px;
}
.name span{
	font-size: 33px;
	color: #4F4F4F;
}
.vote{
	padding-left: 40px;
	width: 600px;
	height: 70px;
}
#v1,#v2,#v3{
	padding-left: 10px;
	float: left;
}
#v1 u{
	font-size: 18px;
	color:  #FF402B; 
	font-weight: bold;
}
#v1 i{
	color:  #FF402B;
}
#v2 p{
	font-size: 15px;
	color: #BCBCBC;
}
#v3 p{
	font-size: 15px;
	color: #BCBCBC;
}
.price{
	float: left;
	width: 600px;
	height: 60px;
	background-color: #E1E1E1;
}
.price *{
	padding-top: 20px;
}
.price span{
	color: #FF402B;
	font-size: 25px;
	padding-left: 40px;
	font-weight: bold;
}
.price i{
	padding-left: 33px;
	color:#FF402B;
}
.sale{
	padding-top: 20px;
	float: left;
	height: 50px;
	width: 500px;
}
.deliver{
	float: left;
	padding-top: 20px;
}
.deliver span{
	color: #FF402B;
	font-size: 17px;
}
.count{
	padding-top: 20px;
	height: 60px;
	width: 600px;
	float: left;
}
#sl,#sub,#number,#addi,#product{
	float: left;
}
.count button{
	width: 40px;
	height: 30px;
}
#sub,#product{
	padding-left: 35px;
}
#number input{
	text-align: center;
	border: 1px solid #BFBCBC;
 	width: 70px;
 	height: 30px;
}
.total{
	float: left;
	padding-top: 20px;
}
.total span{
	color: #FF402B;
	font-size: 20px;
	font-weight: bold;
}
.pick {
	float: left;
	padding-left: 40px;
	padding-top: 20px;
	width: 600px;
}
.pick #cart{
	border: 1px solid #FF402B;
	background-color: #FCDAC9;
	width: 200px;
	height: 60px;
	text-align: center;
}
#cart *{
	font-size: 16px;
	color: #FF402B;
}
.pick #buy{
	border: 1px solid #FF402B;
	background-color: #FF402B;
	width: 200px;
	height: 60px;
	text-align: center;
}
#buy *{
	color: white;
	font-size: 17px;
}
.note{
	padding-top: 23px;
	float: left;
}
.note *{
	color: #FF402B;
}
.chi_tiet{
	clear: left;
	float: left;
	width: 100%;
	padding-top: 40px;
}
#more_{
	padding-top: 30px;
}
.more_info{
	padding-top: 20px;
	padding-left: 15px;
}
.tit{
	background-color:#F3F3F3;
	width: 100%;
	height: 50px;
}
.tit p{
	font-size: 20px;
	padding-top: 15px;
}
.danh_gia{
	float: left;
	width: 100%;
}
.sao_dgia{
	width: 100%;
	height: 120px;
	background-color: #FFEED8;
	border: 1px solid #D5D3D3;
	padding-left: 40px;
	padding-top: 30px;
}
.sao_dgia button{
	width: 90px;
	height: 30px;
}
#tat_ca,#_5sao,#_4sao,#_3sao,#_2sao,#_1sao{
	float: left;
	padding-left: 15px;
	padding-top: 25px;
}
#tat_ca button{
	color: #FF402B;
	border: 1px solid #FF402B;
	background-color: white;
}
#sao{
	float: left;
	padding-top: 8px;
}
#sao *{
	text-align: center;
	color: #FF402B;
	font-size: 22px;
	font-weight: bold;
}
.cmt img{ 
	width: 100%;
	background-repeat: no-repeat;
}
.l_quan{
	float: left;
	width: 100%;
	height: 400px;
	background-color: #F4F4F4;
}
.sp_khac{
	clear: both;
	float: left;
	width: 100%;
	height: 400px;
	background-color: #F4F4F4;
}
footer{
	float: left;
}