#user{
	float: right;
	padding-right: 5px;
}
.i_user{
	display: inline-block;
}
.i_user a{
	display:inline-block;
    text-decoration:none;
    font-style: bold;
    color:white;
}
.row,#nam,#menu{
	margin-top: 0;
}
#tit_box{
	width: 250px;
	float: left;
}