html,body{
	font-family:Arial, "Helvetica Neue",Helvetica;
	margin: 0;
}
header{
	float: left;
	width: 100%;
	height: 70px;
	background-color: #2A2A2A;
}
header span{
	float: left;
	font-size: 40px;
	color:  #00d2ff; 
	margin-left: 10px;
	margin-top:16px;
}
header ul {
	float: right;
	list-style-type: none;
}
header ul li{
	display: inline-block;
	float: left;
	padding-top: 10px;
}
header ul li a{
	display:inline-block;
    text-decoration:none;
   	color:  #00d2ff; 
   	font-size: 19px;
    padding:2px 8px; 
}
#manage-menu{
	float: left;
	width: 20%;
	height: 1000px;
	background-color: #2A2A2A;
	border-top: 1px solid black;
}
#manage-menu .title-menu{
	width: 100%;
	height: 45px;
	background-color: #2A2A2A;
}
.title-menu *{
	color: white;
	font-size: 20px;
	padding-left: 4px;
	padding-top: 10px;
}
.manage-menu-items{
	width: 100%;
	height: auto;
}
.manage-menu-items span{
	width: 100%;
	height: 34px;
	background-color:  #1E1D1D;
	display: inline-block;
	color: #00d2ff; 
	font-size: 19px;
	text-align:left;
	padding-top: 10px;
}
.manage-menu-items a{
	width: 100%;
	height: 30px;
	position: relative;
	display: block;
	background-color: #2A2A2A;
	text-decoration:none;
	border-top: 1px solid black;
	font-size: 17px;
	color:  white;
	padding-top: 10px;
}
.manage-menu-items a:hover{
	color:  #00d2ff; 
	background-color: black;
}
.manage-menu-items:last-child{
	border-bottom: 1px solid black;
}


/*===========================================content*/
#manage-content{
	width: 80%;
	height: 600px;
	float: left;
	background-color:  rgba(0,0,0,.06);
}
.title-manage{
	width: 100%;
	height: 110px;
	border-bottom: 1px solid #00d2ff;
}
.title-manage h2{
	width:90%;
	float: left;
	margin-left: 30px;
}
.title-manage>button{
	cursor: pointer;
	width: 180px;
	height: 35px;
	float: left;
	margin-left: 70px;
	color: white;
	font-size: 16px;
	background-color: #00d2ff; 
	border:1px solid #00d2ff;
	font-weight: bold;
	border-radius: 3px;
}
.title-manage>form{
	float: right;
	padding-right: 10px;
	padding-top: 4px;
}
.title-manage>form>input{
	height: 25px;
	float: left;
	border: 1px solid #00d2ff;
}
.title-manage>form>button{
	cursor: pointer;
	height:29px;
	float: left;
	border: 1px solid #00d2ff;
	background-color: #00d2ff;
}
/*======================================table*/
.manage-table-content{
	float: left;
	width: 100%;
	height: auto;
	background-color: white;
}
.manage-table-content h2{
	font-size: 17px;
	color: #878989; 
}
.table{
	width: 100%;
	height: auto;
	float: left;
	background-color: white;
	padding-top: 10px;
}
.table table{
	border:1px solid #C9C9C9;

}
.table table tr{
	height: 40px;
}
.table table button{
	background-color: #00d2ff;
	border: 1px solid #00d2ff;
	cursor: pointer;
	border-radius: 2px;
	width: 30px;
	height: 30px;
}
.table table img{
	margin: 5px;
	width: 130px;
	height: 120px;
}
.table table tr:hover{
	background-color:#D9D9D9 ; 
}
/*===============================inserted*/
.inserted{
	padding-left: 200px;
	display: none;
}
.inserted h3{
	font-size: 22px;
}
.inserted table{
	padding-left: 80px;
}
.inserted table td{
	font-size: 18px;
}
.inserted table #unitCode{
	width: 200px;
	height: 25px;
}
.inserted table #unitCode option{
	font-size: 18px;
}
.inserted table input{
	width: 350px;
	height: 25px;
}
.inserted table button{
	width: 150px;
	height: 35px;
	background-color: #5CD249;
	border: 1px solid #5788F7;
	color: white;
	font-size: 17px;
	font-weight: bold;
}
.inserted table button:hover{
	background-color: #5788F7;
}
.inserted table p{
	 margin-bottom: 0; 
	 margin-top: 1px;
	 font-size: 16px;
	 color: red;
	 display:  none;
}
